body{
    height: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    width:400px;
    height:450px;
    display: flex;
    flex-direction: column;
}
    .enter{
        display: flex;
    }
        #screen{
            flex:1;
            border: 3px solid rgba(207, 70, 15, 0.959);
            color:rgb(136, 129, 129);
            font-size: 36px;
            display: flex;
        }
    .display{
        height: 50px;
        border: 1px solid black;
        flex: 1;
    }    
    .buttons,
    .functions{
        display: flex;
        flex-wrap: wrap;
    }
        button{
            width: 50px;
            height: 50px;
        }
        .img{
            height: 45px;
           
        }
        #equal,
        #clear,
        #alphabet,
        #stepBack{
            width: 100px; 
            
        }

            .function{
                background-color: rgba(8, 66, 189, 0.788);
                color: white;
            }
            .function:hover{
                background-color: rgba(6, 37, 104, 0.788);
            }

            .number{
                background-color: rgba(197, 208, 231, 0.788);
            }
            .number:hover{
                background-color: rgba(118, 121, 128, 0.788);
            }

            .operator{
                background-color: rgba(80, 81, 82, 0.788);
                color: white;
            }
            .operator:hover{
                background-color: rgba(47, 47, 48, 0.788);
            }

            .addOperators{
                background-color: rgba(207, 70, 15, 0.959);
                color: white;
            } 
            .addOperators:hover{
                background-color: rgba(122, 40, 8, 0.959);
            }
            .wrapRoot{
                display: none;
            }
               
            
            .root{
                display: flex;
                flex-direction: column;
                font-size: 36px;
            } 

            .box{
                border: 1px solid black;
                width: 10px;
                height: 10px;
                font-size: 10px;
            }
            .boxClick, 
            .boxpClick{
                border: none;
            }
            
            #functions{
                position: static;
            }
            .none{
                display: none;
            }
            .block{
                display: block;
            }
